apiVersion: v1
kind: Service
metadata:
  name: spire-server
  namespace: {{ .Values.global.namespace }}
spec:
  type: ClusterIP
  ports:
    - port: 8081
      targetPort: 8081
      protocol: TCP
      name: grpc
  selector:
    app: spire-server
